
@model AppUser


 <a href="/User/Driver/@Model.UserName/">
        <span class="name">@Model.Name</span>
        <img src="@Model.img">
        <i class="fa-solid fa-arrow-right-long"></i>
    </a>

