
@model AppUser


<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle waves-effect waves-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		<img src="@Model.img" alt="user" class="profile-pic me-2">@Model.Name
	</a>
	<ul class="dropdown-menu show" aria-labelledby="navbarDropdown"></ul>
</li>